/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
  transition: scroll 2s;
  background: #f4f4f4;
  color: #333;
}

/* Navbar */
#navbar {
  background-color: #295ab4;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vw;
  display: flex;
  gap: 1vw;
  padding: 0 1vw;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border: #a54024 solid 1px;
}

#navbar div {
  display: flex;
  gap: 1vw;
  align-items: center;
}

#navbar div h1 {
  font-size: 2vw;
}

#navbar div img {
  width: 7vw;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  list-style: none;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5vw;
}

#navbar a:hover {
  color: #ff9800;
}

#navbar .signup {
  background: #dd6c32;
  padding: 0.5vw;
  border-radius: 1vw;
}

/* Welcome Section */
#hero-section {
	background: url(Images/hero.png);
	background-size: cover;
  background-attachment: fixed;
	text-align: center;
	margin-top: 8vw;
	padding: 3vw 0;
  color: #fff;
}

#hero-section h1 {
	font-size: 4vw;
}

#hero-section h3 {
	font-size: 3vw;
}

#hero-section p {
  font-size: 2vw;
  width: 70%;
  margin: auto;
}

#hero-section .you {
	font-size: 3vw;
  margin-bottom: 2vw;
}

#hero-section .you b {
  color: #ee8c4d;
}

#hero-section .b2 {
  background-color: #fff;
  color: #295ab4;
}

/* About Section */
#about-section {
  margin: 3vw 2vw;
  display: flex;
}

#about-section img {
  height: 40vw;
}

#about-section div {
  margin: 0.5vw 3vw 0 4vw;
}

#about-section div p {
  font-size: 2vw;
}

#about-section div h1 {
  font-size: 4vw;
  margin: 1.7vw 0 3.1vw;
}

#about-section div div{
  margin: 4.5vw 0 0;
}

#about-section .b2 {
  background-color: #fff;
  color: #295ab4;
  border: #295ab4 solid 1px;
}

/* Services Section */
#services {
  margin: 4vw 4.5vw 0;
  text-align: center;
}

#services .p {
  font-size: 2.5vw;
  margin: 1vw 0 1.5vw;
}

#services h1 {
  font-size: 3.5vw;
}

#services h2 {
  font-size: 3vw;
  font-weight: normal;
  margin: 1.5vw 0 5vw;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  gap: 6vw;
}

.services-tile {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-tile img {
  width: 10vw;
  border-radius: 50%;
  margin: 1vw 0 0 0;
}

.services-tile h3 {
  padding: 1vw;
  font-size: 2.3vw;
}

.services-tile p {
  color: #666;
  font-size: 2vw;
  text-align: left;
  padding: 1vw 2vw 2vw;
}

.services-tile a {
  color: #295ab4;
  font-size: 2.5vw;
  display: flex;
  padding: 1vw 2vw 2vw;
  text-decoration: none;
}

#profile-link {
  font-size: 2.5vw;
  text-decoration: none;
  padding: 2vw 3vw;
  color: #295ab4;
  border: #295ab4 solid 1px;
  margin: 2vw auto;
  width: max-content;
}

.button {
  padding: 1vw 2vw;
  border-radius: .5vw;
  background-color: #295ab4;
  color: #fff;
  text-decoration: none;
  font-size: 2vw;
}

/* Testimonial Section */
#testimonial {
  margin: 4vw 4.5vw 0;
  text-align: center;
}

#testimonial .p {
  font-size: 2.5vw;
  margin: 1vw 0 2vw;
  
}

#testimonial h1 {
  font-size: 4vw;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  gap: 1vw;
  margin: 2vw 0;
}

.testimonial-tile {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-tile p {
  color: #666;
  font-size: 2vw;
  text-align: left;
  padding: 1vw 2vw 2vw;
}

.testimonial-tile div {
  display: flex;
  align-items: center;
  margin: 0 0 1vw 1vw;
}

.testimonial-tile img {
  width: 30%;
  height: auto;
  border-radius: 50%;
  margin: 1vw 0 0 0;
}

.testimonial-tile h3 {
  padding: 1vw;
  font-size: 2vw;
}

/* FAQ Section */
#faq {
  margin: 4.5vw 15vw;
}

#faq .p {
  font-size: 2.5vw;
  margin: 3vw 0 1.5vw;
  text-align: center;
}

#faq h1 {
  font-size: 4vw;
  text-align: center;
}

#faq div {
  padding: 5vw 0 2vw;
  border-bottom: #666 solid .15vw;
}

#faq div h3 {
  font-size: 2.5vw;
  display: flex;
  justify-content: space-between;
}

#faq div span {
  color: #666;
}

#faq div .span{
  display: none;
}

#faq div h3:hover + p {
  display: block;
}

#faq div h3:hover span {
  display: none;
}

#faq div h3:hover .span {
  display: inline;
}

#faq div p {
  display: none;
  font-size: 2vw;
  margin-top: 2vw;
}

#faq a {
  font-size: 2vw;
  text-decoration: none;
  padding: 1vw 2.5vw;
  color: #295ab4;
  border: #295ab4 solid 1px;
  display: flex;
  border-radius: .5vw;
  width: max-content;
  margin: 2vw auto 0;
}

/* Contact Section */
#contact {
	background: linear-gradient(135deg, #2d4996, #3374e6);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2vw 10vw;
}

#contact .logo {
  display: flex;
  gap: 10vw;
}

#contact .logo img {
  width: 15vw;
}

#contact .logo h2 {
  margin: 2vw 0 0;
  font-size: 3vw;
}

#contact .logo p {
  margin: 1vw 0 0;
  font-size: 2vw;
}

#contact .logo + div {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

#contact img {
  width: 4vw;
  border-radius: 50%;
}

#contact .subscribe {
  width: 50%;
}

#contact .subscribe h1 {
  margin: 2vw 0 1vw;
  font-size: 3vw;
}

#contact .subscribe label {
  font-size: 2.5vw;
}

#contact .subscribe input {
  margin: 1.5vw 0 0;
  font-size: 2.5vw;
  border: #222 solid .1vw;
  width: 100%;
  border-radius: .5vw;
  padding: .3vw .5vw;
}

#contact button {
  border: none;
  cursor: pointer;
  margin: 1.7vw 0 0;
}

/* Footer */
footer {
  background: #222;
  display: flex;
  padding: 2vw 10vw;
  justify-content: space-between;
}

footer p, a {
  font-size: 1.4vw;
  text-decoration: none;
  color: #ccc;
}

footer div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/* Responsive Design */
@media (max-width: 424px) {
  .small {
    display: none;
  }
}